<div class="text-left">
  <h4>3 tours de:</h4>
  <ul>
    <% exercises.each do |exo| %>
      <li>20 sec <%= exo.name %> </li>
      10 sec de repos
      <div class='hidden'>
        <li>
          <h5><strong>Description:</strong></h5>
          <p><%= exo.description %></p>
        </li>
      </div>
    <% end %>
  </ul>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('.exo').on('click', function(event) {
         $('#description').removeClass('hidden');
            <!-- $(this).next("#description").removeClass('hidden'); -->
            <!-- $(this).next('').hide() --><!-- removeClass('hidden'); -->
      });
    });
  <% end %>
<% end %>


