<div class="container-small text-center">
  <h1>Ton tabata du jour:</h1>

  <div class="row">
    <% @tabata.each_with_index do |tabata, index| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h2>Partie <%= index + 1 %> - <%= tabata[0].exercise_type %></h2>
        <%= render 'tabata_card', exercises: tabata %>
      </div>
    <% end %>
  </div>
</div>
