<% @exercises = Exercise.all %>
<% @exercises -= Exercise.all.where('equipment = ?', 'TRX') if params[:query][:trx]== "0" %>
<% @exercises -= Exercise.all.where('equipment = ?', 'Haltères') if params[:query][:weights]== "0" %>
<% @exercises -= Exercise.all.where('equipment = ?', 'Barre de tractions') if params[:query][:pull_up_bar]== "0" %>
<% @exercises -= Exercise.all.where('equipment = ?', 'Rouleau') if params[:query][:abs_wheel]== "0" %>
<% @exercises -= Exercise.all.where('equipment = ?', 'Chaise/banc') if params[:query][:chair]== "0" %>
<% @exercises -= Exercise.all.where('equipment = ?', 'Corde à sauter') if params[:query][:jumping_rope]== "0" %>
<%# @exercises = @exercises.shuffle %>


<%#= @exercises.find(name: 'Squats sautés') %>
<div class="container text-center">
  <h1>Ton tabata du jour:</h1>
</div>

<!-- Generation du tabata cardio -->
<% @cardio_exos = @exercises.select{|exo| exo[:exercise_type] == 'Cardio'} %>
<% @squats_sautés = @exercises.select{|exo| exo[:name] == 'Squats sautés'} %>
<% @tabata_cardio = [@squats_sautés[0]] %>
<% 2.times do %>
<% @cardio_exos -= @tabata_cardio %>
<% @tabata_cardio << @cardio_exos.sample %>
<% end %>

<!-- Generation du tabatas haut -->
<% @exos_pecs = @exercises.select{|exo| exo[:exercise_type] == 'Pecs'} %>
<% @exos_dos = @exercises.select{|exo| exo[:exercise_type] == 'Dos'} %>
<% if params[:query][:trx]== "1" %>
<% @hidden_exos = @exercises.select{|exo| exo[:name] == 'Relevé de buste avec les coudes' || exo[:name] == 'Reverse snow angels' || exo[:name] == 'Superman' } %>
<% @exos_dos -= @hidden_exos %>
<% end %>
<% @exos_autres = @exercises.select{|exo| exo[:exercise_type] == 'Epaules'} + @exercises.select{|exo| exo[:exercise_type] == 'Tris'} + @exercises.select{|exo| exo[:exercise_type] == 'Pecs/abdos'} %>
<% @exo_pecs_1 = @exos_pecs.shuffle.first %>
<% @exos_pecs -= [@exo_pecs_1] %>
<% @exo_dos_1 = @exos_dos.shuffle.first %>
<% @exos_dos -= [@exo_dos_1] %>
<% @exo_autres_1 = @exos_autres.shuffle.first %>
<% @exos_autres -= [@exo_autres_1] %>
<% @tabata_haut_1 = [@exo_pecs_1, @exo_autres_1, @exo_dos_1] %>
<% @exo_pecs_2 = @exos_pecs.shuffle.first %>
<% @exos_pecs -= [@exo_pecs_2] %>
<% @exo_dos_2 = @exos_dos.shuffle.first %>
<% @exos_dos -= [@exo_dos_2] %>
<% @exo_autres_2 = @exos_autres.shuffle.first %>
<% @exos_autres -= [@exo_autres_2] %>
<% @tabata_haut_2 = [@exo_pecs_2, @exo_autres_2, @exo_dos_2] %>


<!-- Generation du tabata abdos -->
<%# @abdos_exos = @exercises.select{|exo| exo[:exercise_type] == 'Abdos'}%>


<% @gainage_abdos = @exercises.select{|exo| exo[:name] == 'Gainage abdos sur le dos'} %>
<% @tabata_abdos = [@gainage_abdos[0]] %>
<% 2.times do %>
<% @abdos_exos -= @tabata_abdos %>
<% @tabata_abdos << @abdos_exos.sample %>
<% end %>

<div class="container-small">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2>Partie 1 - cardio:</h2>
      <h4>3 tours de:</h4>
      <ul>
        <% @tabata_cardio.shuffle.each do |cardio_exo| %>
          <li>20 sec <%= cardio_exo[:name] %> </li>
          <li>10 sec de repos</li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2>Partie 2 - force:</h2>
      <h4>3 tours de:</h4>
      <ul>
        <% @tabata_haut_1.shuffle.each do |haut_exo| %>
          <li>20 sec <%= haut_exo[:name] %> </li>
          <li>10 sec de repos</li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2>Partie 3 - abdos:</h2>
      <h4>3 tours de:</h4>
      <ul>
        <% @tabata_abdos.shuffle.each do |abdos_exo| %>
          <li>20 sec <%= abdos_exo[:name] %> </li>
          <li>10 sec de repos</li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2>Partie 4 - pluuuuus de force:</h2>
      <h4>3 tours de:</h4>
      <ul>
        <% @tabata_haut_2.shuffle.each do |haut_exo| %>
          <li>20 sec <%= haut_exo[:name] %> </li>
          <li>10 sec de repos</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


